<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/addtodo.css">
    <title>Document</title>
</head>
<body>
    <div class="add-ToDo">
        <div class="container">
            <h1>Add Todo</h1>
            <form id="form" action="/addtodo" method="POST">
                <input name="task" type="text" >
                <button class="bottonAddToDo" id="taskIDbutton"> 
                    <img src="/assets/images/plus icon.png" alt="new img">
                    Add Todo
                </button>
            </form>
            
            <a href="/" class="bottonAddToDo"> 
                Cancel
            </a>

        </div>
    </div>
    
</body>
</html>