<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Document</title>
</head>
<body>
    <div class="todo">
        <div class="container">
            <h1>What's plan today ?</h1>
            <a href="/addtodo" class="bottonAddToDo"> 
                <img src="/assets/images/plus icon.png" alt="new img">
                Add Todo
            </a>
            <% if (!todos) {%>
                <h3>No plan today.</h3>
            <% }else {
                var i = 0    
            %>
                <% todos.forEach((task) => { %>
                    <p>
                    <%= i+1 %> - <%= task.task %>
                    </p>
                <% }); %>
            <% } %>

        </div>

    </div>
    
</body>
</html>