.bottonAddToDo {
    color: black;
    border: none;
    font-weight: bold;
    background-color: violet;
}
input{
    border: none;
    min-height: 40px;
    min-width: 70%;
    max-width: 80%;
}
#taskIDbutton{
    width: 75% ;
}