.bottonAddToDo {
    color: white;
    background-color: rgb(89, 0, 255);
}
  
.container p {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Put space between the text and images */
    background-color: white;
    border-radius: 20px;
    min-height: 50px;
    padding: 0 10px;
    margin: 10px 0; /* Add some margin between each task item */
}

.tasks-todo{
    margin: 10 0;
}

.task-text {
    display: inline-block;
    word-break: break-word;
    text-align: left;
    width: 94%;
}

.task-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.task-buttons button {
    border: none;
    padding: 5px;
    margin: 0 5px;
    background-color: violet;
    border-radius: 20px;
    cursor: pointer;
}
.task-buttons a {
    border: none;
    padding: 5px;
    height: 26;
    background-color: violet;
    border-radius: 20px;
}

.task-text p {
    max-width: 100%;
    padding: 10px 9px;
  }